!!!
%html
  %head
    %title My Sinatra Website
    %link(rel="stylesheet" href="css/styles.css")

    // remote vendor
    %script{:type => 'text/javascript',
            :src => 'http://code.responsivevoice.org/responsivevoice.js'}
    %script{:type => 'text/javascript',
            :src => 'https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js'}

    // local vendor
    %script{:type => 'text/javascript',
            :src => 'js/robochurch.js'}

    // local
    %script{:type => 'text/javascript',
            :src => 'js/typed.min.js'}

  %body
    #mainframe-container
      #mainframe-content
        %a{href: '#', onclick: 'my_function(); return false;'} my link
        I use human language because it is the language of our creator.

