
<div id="mainframe-container" class="mainframe container-fluid">
  <div class="row no-gutter">
    <div id="server-left" class="server-container col-sm-3">

      <div class="server-section-top">
        <div class="server-vent-top container-fluid">
        </div>
      </div> <!-- end .server-section-top -->
      <div class="server-section-middle container-fluid">
        <div class="server-side-row">
          <div class="server-vent-side col-xs-4"></div>
          <div class="server-monitor-container col-xs-4">
            <div class="server-monitor-01"></div>
            <div class="server-monitor-02"></div>
            <div class="server-monitor-03"></div>
          </div>
          <div class="server-vent-side col-xs-4"></div>
        </div> <!-- end .server-side-row -->
      </div> <!-- end .server-section-middle (container)-->
      <div class="server-section-bottom">
        <div class="server-vent-bottom"></div>
      </div> <!-- end .server-section-bottom -->
    </div>   <!-- end server-container -->


    <div id="mainframe-content" class="col-sm-6"></div><!-- end #mainframe-content -->

    <div id="server-left" class="col-sm-3 server-container">

      <div class="server-section-top">
        <div class="server-vent-top container-fluid">
        </div>
      </div> <!-- end .server-section-top -->
      <div class="server-section-middle container-fluid">
        <div class="server-side-row">
          <div class="server-vent-side col-xs-4"></div>
          <div class="server-monitor-container col-xs-4">
            <div class="server-monitor-01"></div>
            <div class="server-monitor-02"></div>
            <div class="server-monitor-03"></div>
          </div>
          <div class="server-vent-side col-xs-4"></div>
        </div> <!-- end .server-side-row -->
      </div> <!-- end .server-section-middle (container)-->
      <div class="server-section-bottom">
        <div class="server-vent-bottom"></div>
      </div> <!-- end .server-section-bottom -->
    </div>   <!-- end server-container -->
  </div>

</div>