!!!
%html
  %head
    %title My Sinatra Website
    %link(rel="stylesheet" href="css/styles.css")
    %script{:type => 'text/javascript',
            :src => 'http://code.responsivevoice.org/responsivevoice.js'}
    %script{:type => 'text/javascript',
            :src => 'js/robochurch.js'}

  %body
    #content
      =yield
    #footer
      %p
        footer