@import url(http://fonts.googleapis.com/css?family=VT323);

$color-mainframe: #222;
$color-mainframe-vent: #111;
$color-screen: #0000FF;
$color-black: #000000;

@mixin pixelated() {
  -ms-interpolation-mode: nearest-neighbor; // IE 7+ (non-standard property)
  image-rendering: -webkit-optimize-contrast; // Safari 6, UC Browser 9.9
  image-rendering: -webkit-crisp-edges; // Safari 7+
  image-rendering: -moz-crisp-edges; // Firefox 3.6+
  image-rendering: -o-crisp-edges; // Opera 12
  image-rendering: pixelated; // Chrome 41+ and Opera 26+
}

@mixin bg-cover() {
  background: no-repeat center;
  background-size: cover;
}

.pixelated {
  @include pixelated();
}

/***** BOOTSTRAP FIX **********/
.no-gutter [class*="-6"] {
  padding-left:0;
}

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}
/***** PAGE **********/

body {
  background: $color-screen;
}

/***** SERVER **********/

#mainframe-content {
  font-family: 'VT323', 'courier new', 'monospace';
  font-size:2em;;
  background:$color-screen;
  height:100%;
}

#mainframe-content {
  height:100%;
  padding: 10px 20px 10px 20px;
}

.mainframe {
  display: block;
  //background:red;
  color:white;
}

#server-left {
  //margin-left:15px;
}

#server-right {
  //margin-right:15px;
}


.server-container {
  padding:0;
  background: red;
  background: url('/img/mainframe-top-container.png');
  background-size: contain;
  .server-section-top {
    overflow: hidden;
    .server-vent-top {
      height:100px;
      .server-vent-top-row {
        margin:10px;
        .vent-hole {
          height:20px;
          //border:5px solid $color-mainframe;
          //margin: 1px;
          background: url('/img/vent-bg.gif');
          background-size: contain;

          background-origin: content-box;
          //border: 5px none;
          //padding: 5px;
          float: left;
        }
      }
    }
  }
  .server-section-middle {
    background: $color-black;
    .server-side-row {
      .server-vent-side {
        background:$color-black;
        height:100%;
        padding: 10px 0 ;
        .side-light {
          @include pixelated();
          width: 100%;
          height:10px;
          background: yellow url('/img/btn-bg.gif');
          background-size: cover;
          display: inline-block;
          margin-top: 10px;
          margin-bottom: 10px;
          &.active {
            background: url('/img/btn-bg.gif'),url('/img/side-light-bg.gif');
            background-size: cover;

          }
        }
      }
      .server-monitor-container {
        padding:0;
        background:$color-black;
        height:100%;
        .server-monitor {
          //height:33.33%;
          width:100%;
          display: inline-block;
          float: none;
          clear: both;
          .server-monitor-01 {
            height:80%;
            width:80%;
            @include bg-cover();
            background: url("/img/monitor01.gif");
            background-color: $color-screen;
            background-size: cover;
          }
          .server-monitor-02 {
            height:80%;
            width:80%;
            @include bg-cover();
            background: $color-screen url("/img/monitor02.gif");
            background-size: cover;
          }
          .server-monitor-03 {
            height:80%;
            width:80%;
            @include bg-cover();
            background: $color-screen url("/img/monitor03.gif");
            background-size: cover;
          }
        }
      }
      height:100%;
    }


  }
  .server-section-bottom {
    @include pixelated();
    @include bg-cover();
    background: $color-mainframe url("/img/vent-bottom.gif");
    background-size: cover;
  }
}
#mainframe-content-container {
  padding-right: 0px;
}

#mainframe-content-bottom-container {
  background: $color-black;

}

/***** VERTICAL LAYOUT FOR SMALL SCREENS **********/
@media (max-width: 768px) {
  body {
    background: $color-screen;
  }
}
