@import url(http://fonts.googleapis.com/css?family=VT323);

.pixelated {
  -ms-interpolation-mode: nearest-neighbor; // IE 7+ (non-standard property)
  image-rendering: -webkit-optimize-contrast; // Safari 6, UC Browser 9.9
  image-rendering: -webkit-crisp-edges; // Safari 7+
  image-rendering: -moz-crisp-edges; // Firefox 3.6+
  image-rendering: -o-crisp-edges; // Opera 12
  image-rendering: pixelated; // Chrome 41+ and Opera 26+
}

/***** BOOTSTRAP FIX **********/
.no-gutter [class*="-6"] {
  padding-left:0;
}

/***** PAGE **********/

body {
  background: #fff;
}

/***** SERVER **********/

#mainframe-content {
  font-family: 'VT323', 'courier new', 'monospace';
  font-size:2em;;
  background:mediumpurple;
  height:100%;
}

#mainframe-content {
  height:100%;
  padding: 10px 20px 10px 20px;
}

.mainframe {
  display: block;
  background:red;
  color:white;
}

#server-left {
  //margin-left:15px;
}

#server-right {
  //margin-right:15px;
}


.server-container {
  padding:0;
  background: #2a2a2a;
  .server-section-top {
    .server-vent-top {
      //width: 100%;
      height:100px;
      .vent-hole {
        height:15px;
        //width:45px;
        background:#222;
        //margin: 2px;
        float: left;
      }
    }
  }
  .server-section-middle {
    background: greenyellow;
    .server-side-row {
      .server-vent-side {
        background:plum;
        height:100%;
      }
      height:100%;
    }


  }
  .server-section-bottom {
    background: pink;

  }

}

/***** VERTICAL LAYOUT FOR SMALL SCREENS **********/
@media (max-width: 768px) {
  body {
    background: teal;
  }
}
