@import url(http://fonts.googleapis.com/css?family=VT323);

html {
    height: 100%;
    width: 100%;
}

body {
    background: #0000ff;
    height: 100%;
    width: 100%;
}

#mainframe-container {
    color:white;
    font-family: 'VT323', 'courier new', 'monospace';
    font-size:2em;;
    width: 400px;
    height: 512px;
    background: #cccccc url("../img/mainframe-1.gif");
    padding: 5px 200px;
}

#mainframe-content {

}

#svg {
    height: 500px;
    width: 700px;
    background:teal;
}